

{% include 'partials/_header.html.twig' %}

<h1>Recettes de Cocktails</h1>

{% for cocktail in cocktails %}
    <div class="cocktail">
        <img src="{{ cocktail.image }}" alt="Image de {{ cocktail.nom }}">
        <h2>{{ cocktail.nom }}</h2>
        <div class="ingredients">
            <strong>Ingrédients :</strong>
            <ul>
                {% for ingredient in cocktail.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="description">{{ cocktail.description }}</div>
        <div class="date">Créé le {{ cocktail.date_creation|date('d/m/Y') }}</div>
    </div>
{% endfor %}

</body>
</html>