{% extends 'base.html.twig' %}

{% block main %}

<h1> Cocktails</h1>

<div class="cocktail-container">
        <div class="cocktail">
            <img src="{{ cocktail.image }}" alt="Image de {{ cocktail.nom }}">
            <h2>{{ cocktail.nom }}</h2>
            <div class="ingredients">
                <strong>Ingrédients :</strong>
                <ul>
                    {% for ingredient in cocktail.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="description">{{ cocktail.description }}</div>
            <div class="date">Créé le {{ cocktail.date_creation|date('d/m/Y') }}</div>
        </div>
</div>

</body>
</html>

{% endblock main %}